node_modules/
playground/
Dockerfile
Dockerfile.prod
.env
langg/
scrappr/
runmatomo.sh
docker_commands.txt
langchainmastery/
python_repl/
node_internals/
advance_node_starter/
zazencodes-season-2
kafka/
advance_node_starter/
/deliveryserviceclient
/deliveryserviceapi
/deliveryserviceadmin
commands.txt
/1_authservice
/2_elasticsearch
/study
/kafka_2.13-4.0.0
run_dev.sh
ui/.nuxt
docker-compose.yml
production_files/
development_files/
run.sh