@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) {
            @content;
        } //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) {
            @content;
        } //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) {
            @content;
        } //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) {
            @content;
        } //1800
    }
}

@mixin hide-scrollbar {
    // Firefox
    scrollbar-width: none;

    // IE and Edge
    -ms-overflow-style: none;

    // Chrome, Safari, WebKit
    &::-webkit-scrollbar {
        height: 6px;
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 10px;
        border: none;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: transparent;
    }
}

@mixin fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background: $white;
    width: 100vw;

    &.unauth {
        background: transparent;
    }
}

@mixin fixed-bottom-button-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: 4;
  
    background: $white;
    padding: 1rem;
    padding-bottom: 2rem;
  
    button {
      font-size: 2rem;
      padding: 2rem;
      width: 100%;
  
      &.spacebetween {
        display: flex;
        justify-content: space-between;
      }
  
      &.transparent-button {
        margin-bottom: 2rem;
      }
    }
  }
  
